/* Start Global Variablse */
:root {
    --main-color: #8e44ad;
    --red: #e74c3c;
    --oragen: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: "JF Flat Regular";
    src: url(../fonts/JF_Flat_Regular.ttf);
}

* {
    font-family: "JF Flat Regular", Sans-Serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

    *::selection {
        background-color: var(--main-color);
        color: #fff;
    }

    *::-webkit-scrollbar {
        height: 0.5rem;
        width: 1rem;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: var(--main-color);
    }

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--light-bg);
    padding-right: 30rem;
    /* padding-bottom: 7rem; */
}

    body.dark {
        --white: #222;
        --black: #fff;
        --light-color: #aaa;
        --light-bg: #333;
        --border: 0.1rem solid rgba(255, 255, 255, 0.2);
    }

    body.active {
        padding-right: 0;
    }

section {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.btn,
.option-btn,
.delete-btn,
.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    border-radius: 0.5rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
}

.btn,
.option-btn,
.delete-btn {
    display: block;
    width: 100%;
}

.inline-btn,
.inline-option-btn,
.inline-delete-btn {
    display: inline-block;
}

.btn,
.inline-btn {
    background-color: var(--main-color);
}

.option-btn,
.inline-option-btn {
    background-color: var(--oragen);
}

.delete-btn,
.inline-delete-btn {
    background-color: var(--red);
}

    .btn:hover,
    .option-btn:hover,
    .delete-btn:hover,
    .inline-btn:hover,
    .inline-option-btn:hover,
    .inline-delete-btn:hover {
        background-color: var(--black);
        color: var(--white);
    }

.btn-edit, .btn-delete {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
}

.btn-edit {
    background-color: #8e44ad;
}

.btn-delete {
    background-color: red;
}

    .btn-delete:hover {
        background-color: var(--black);
        color: var(--white);
    }

.btn-edit:hover {
    background-color: var(--black);
    color: var(--white);
}

.flex-btn {
    display: flex;
    gap: 1rem;
}

.message-error {
    border: 1px solid;
    margin: 10px auto;
    padding: 9px 8px 9px 40px;
    color: #D8000C;
    background-color: #FFBABA;
    font-size: 1.5rem;
}

.empty {
    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    color: var(--red);
}

.heading {
    padding-bottom: 1.8rem;
    border-bottom: var(--border);
    font-size: 2.5rem;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
/* End Global Variablse */

/* Header   */

.header {
    background-color: var(--white);
    border-bottom: var(--border);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

    .header .flex {
        padding: 1.5rem 2rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .header .flex .logo {
            font-size: 2.5rem;
            color: var(--black);
            font-weight: bolder;
        }

        .header .flex .icons div {
            font-size: 2rem;
            color: var(--black);
            border-radius: .5rem;
            height: 4.5rem;
            cursor: pointer;
            width: 4.5rem;
            line-height: 4.4rem;
            background-color: var(--light-bg);
            text-align: center;
            margin-left: .5rem;
        }

            .header .flex .icons div:hover {
                background-color: var(--black);
                color: var(--white);
            }


.header .flex .profile {
    position: absolute;
    top: 120%;
    left: 2rem;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
    width: 30rem;
    transform: scale(0);
    transform-origin: top left;
}

    .header .flex .profile.active {
        transform: scale(1);
        transition: .2s linear;
    }

    .header .flex .profile img {
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: .5rem;
    }

    .header .flex .profile h3 {
        font-size: 2rem;
        color: var(--black);
    }

    .header .flex .profile span {
        color: var(--light-color);
        font-size: 1.6rem;
    }

    .header .flex .profile .flex-btn {
        margin-top: .5rem;
    }

.side-bar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--white);
    border-left: var(--border);
    z-index: 1200;
    overflow-x: auto;
}

    .side-bar .close-side-bar {
        text-align: left;
        padding: 2rem;
        padding-bottom: 0;
        display: none;
    }

        .side-bar .close-side-bar i {
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.4rem;
            font-size: 2.5rem;
            color: #fff;
            cursor: pointer;
            background-color: var(--red);
            text-align: center;
            border-radius: .5rem;
        }

            .side-bar .close-side-bar i:hover {
                background-color: var(--black);
            }

    .side-bar .profile {
        padding: 3rem 2rem;
        text-align: center;
    }

        .side-bar .profile img {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: .5rem;
        }

        .side-bar .profile h3 {
            font-size: 2rem;
            color: var(--black);
        }

        .side-bar .profile span {
            color: var(--light-color);
            font-size: 1.6rem;
        }

        .side-bar .profile .flex-btn {
            margin-top: .5rem;
        }


    .side-bar .navbar a {
        display: block;
        padding: 2rem;
        margin: .5rem 0;
        font-size: 1.8rem;
        text-align: start;
    }

        .side-bar .navbar a i {
            color: var(--main-color);
            margin-left: 1.5rem;
            transition: .2s linear;
        }

        .side-bar .navbar a span {
            color: var(--light-color);
        }

        .side-bar .navbar a:hover {
            background-color: var(--light-bg);
        }

            .side-bar .navbar a:hover i {
                margin-left: 2.5rem;
            }

    .side-bar.active {
        right: -31rem;
    }

/* Header  */



/* Dashboard */

.dashboard .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

    .dashboard .box-container .box {
        padding: 2rem;
        border-radius: .5rem;
        background-color: var(--white);
        text-align: center;
    }

        .dashboard .box-container .box h3 {
            margin-bottom: .5rem;
            font-size: 2.5rem;
            color: var(--black);
            margin-bottom: 1.5rem;
        }

        .dashboard .box-container .box p {
            font-size: 2rem;
            color: var(--light-color);
            padding: 1rem 1.5rem;
            border-radius: .5rem;
            background-color: var(--light-bg);
            margin: 1rem 0;
        }

/* Dashboard */






/* Start Form Section */

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

    .form-container form {
        background-color: var(--white);
        border-radius: 0.5rem;
        padding: 2rem;
    }

    .form-container .login {
        width: 50rem;
    }

    .form-container .register {
        width: 80rem;
    }

    .form-container form h3 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 1rem;
        color: var(--black);
        text-transform: capitalize;
    }

    .form-container form p {
        padding-top: 1rem;
        font-size: 1.7rem;
        color: var(--light-color);
    }

        .form-container form p span {
            color: var(--red);
        }

    .form-container .link {
        padding-bottom: 1rem;
        text-align: center;
        font-size: 2rem;
    }

        .form-container .link a {
            color: var(--main-color);
        }

            .form-container .link a:hover {
                color: var(--black);
                text-decoration: underline;
            }

    .form-container form .box {
        width: 100%;
        border-radius: 0.5rem;
        margin: 1rem 0;
        font-size: 1.8rem;
        color: var(--black);
        padding: 1.4rem;
        background-color: var(--light-bg);
    }

    .form-container .flex {
        display: flex;
        gap: 2rem;
    }

        .form-container .flex .col {
            flex: 1 1 25rem;
        }

/* End Form Section */

/* Table */

.table {
    width: 100%;
    border: var(--border)
}
    .table thead {
        border: var(--border)
    }

.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: rgb(240, 240, 240);*/
}

    .table_header .title {
        font-size: 2.5rem;
        color: var(--black);
        text-transform: capitalize;
    }

.table-section {
    height: 650px;
    overflow: auto;
    background-color: var(--white);
}

table {
    width: 100%;
    table-layout: fixed;
    min-width: 900px;
    border-collapse: collapse;
}

thead th {
    position: sticky;
    top: 0;
    background-color: var(--light-bg);
    color: var(--black);
    font-size: 15px;
}

th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    /*word-break: break-all;*/
    text-align: center;
    color: var(--black);
    font-size:1.5rem;
}

    td img {
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 15px;
        border: 3px solid #cedad2;
    }

/*tr:hover td {
    color: #0298cf;
    cursor: pointer;
    background-color: #f6f9fC;
}*/

.pagination {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 40px 20px;
    position: sticky;
    background-color: #f6f9fC;
    bottom: 0;
}

    .pagination div {
        padding: 10px;
        border: 2px solid #cedad2;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0298cf;
        color: #ffff;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
        margin: 0 5px;
        cursor: pointer;
    }
/* Table */


.video-form form {
    max-width: 50rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    padding-top: 1rem;
}

    .video-form form p {
        padding-top: 1rem;
        font-size: 1.7rem;
        color: var(--light-color);
    }

        .video-form form p span {
            color: var(--red);
        }

    .video-form form .box {
        width: 100%;
        border-radius: .5rem;
        background-color: var(--light-bg);
        padding: 1.4rem;
        font-size: 1.8rem;
        color: var(--black);
        margin: 1rem 0;
    }

    .video-form form textarea {
        height: 20rem;
        resize: none;
    }

    .video-form form img {
        width: 100%;
        height: 20rem;
        border-radius: .5rem;
        object-fit: contain;
        margin: .5rem 0;
    }

    .video-form form video {
        background-color: #000;
        width: 100%;
        height: 20rem;
        border-radius: .5rem;
        margin: .5rem 0;
    }

.comments .show-comments {
    background-color: var(--white);
    border-radius: .5rem;
    padding: 2rem;
    display: grid;
    gap: 2.5rem;
}

    .comments .show-comments .user {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }

        .comments .show-comments .user img {
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        .comments .show-comments .user h3 {
            font-size: 2rem;
            color: var(--black);
            margin-bottom: .2rem;
        }

        .comments .show-comments .user span {
            color: var(--light-color);
            font-size: 1.5rem;
        }

    .comments .show-comments .content {
        margin-bottom: 2rem;
    }

        .comments .show-comments .content p {
            font-size: 2rem;
            color: var(--black);
            padding: 0 1rem;
            display: inline-block;
        }

        .comments .show-comments .content span {
            font-size: 1.7rem;
            color: var(--light-color);
        }

        .comments .show-comments .content a {
            color: var(--main-color);
            font-size: 1.8rem;
        }

            .comments .show-comments .content a:hover {
                text-decoration: underline;
            }

    .comments .show-comments .text {
        border-radius: .5rem;
        background-color: var(--light-bg);
        padding: 1rem 1.5rem;
        color: var(--black);
        margin: .5rem 0;
        position: relative;
        z-index: 0;
        white-space: pre-line;
        font-size: 1.8rem;
    }

        .comments .show-comments .text::before {
            content: '';
            position: absolute;
            top: -1rem;
            left: 1.5rem;
            height: 1.2rem;
            width: 2rem;
            background-color: var(--light-bg);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }




.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .form-row .box {
        border-radius: .5rem;
        font-size: 1.5rem;
        margin: 1rem 10px;
        background-color: var(--light-bg);
        color: var(--black);
    }

    .form-row .btn {
        width: 20%;
        background-color: var(--main-color);
        border-radius: 0.5rem;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        color: #fff;
        margin-top: 1rem;
        text-transform: capitalize;
        cursor: pointer;
        text-align: center;
        margin: 1rem 10px;
    }
    .form-row p{
        font-size: 1.3rem
    }

    .footer {
        position: sticky;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2.5rem 2rem;
        text-align: center;
        color: var(--black);
        font-size: 2rem;
        margin-top: 2rem;
        z-index: 1000;
    }

    .footer span {
        color: var(--main-color);
    }


@media (max-width:1200px) {

    body {
        padding-right: 0;
    }

    .side-bar {
        transition: .2s linear;
        right: -30rem;
    }

        .side-bar.active {
            right: 0;
            box-shadow: 0 0 0 100vw rgba(0,0,0,.7);
        }

        .side-bar .close-side-bar {
            display: block;
        }
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }
}

@media (max-width:768px) {

    #search-btn {
        display: inline-block;
    }

    .form-container .flex {
        display: flex;
        gap: 0;
        flex-flow: column;
    }

    .view-content .container .video {
        height: 30rem;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2rem;
    }

    .flex-btn {
        flex-flow: column;
        gap: 0;
    }

    .playlists .box-container {
        grid-template-columns: 1fr;
    }

    .view-content .container .video {
        height: auto;
    }
}
