@model IEnumerable<almny.Models.Subject>
@{
    ViewData["Title"] = "المواد الدراسية";
}

<div class="table">
    <div class="table_header">
        <h1 class="title">المواد الدراسية</h1>
        <div>
            <a asp-action="Create" class="btn">أضافة جديدة</a>
        </div>
    </div>
    <div class="table-section">
        <table>
            <thead>
                <tr>
                    <th>#م</th>
                    <th>اسم المادة</th>
                    <th> اعداد</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn-edit"><i class="fas fa-edit"></i></a>
                            <a onclick="return confirm('هل انت متاكد من حذف هذه المادة؟');" asp-action="Delete" asp-route-id="@item.Id" class="btn-delete"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
