@model almny.Models.DTO.ChangePasswordModel
@{
    ViewData["Title"] = "تغير كلمة السر";
}

<section class="form-container">

    <form asp-controller="Account" asp-action="Login" method="post" class="login" role="form">
        <h3>تغير كلمة السر</h3>
        <p>كلمة السر القديمة <span>*</span></p>
        <input asp-for="CurrentPassword" class="box" placeholder="أدخل كلمة السر القديمة" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        <p>كلمة السر الجديدة <span>*</span></p>
        <input asp-for="NewPassword" type="password" class="box" placeholder="أدخل كلمة كلمة السر الجديدة" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
        <p>تأكيد كلمة السر <span>*</span></p>
        <input asp-for="PasswordConfirm" type="password" class="box" placeholder="أدخل كلمة تأكيد كلمة السر" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        @if (TempData["msg"] != null)
        {
            <div class="text-danger">@TempData["msg"]</div>
        }
        <button type="submit" name="submit" class="option-btn">حفظ</button>
    </form>

</section>